@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
body {
    font-family: 'Kanit';
}
.bg-img{
    background: linear-gradient(
        rgba(43, 4, 4, 1), 
        rgba(43, 4, 4, 1)
      ), url("../img/bg.jpg") no-repeat;
      background-blend-mode: darken;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.nav-link{
    color: white;
}
ul.navbar-nav > li.nav-item > a.nav-link.active{
    color: #f17878;
    border-bottom: #ffffff solid 1px;
}
.tcolor{
    color: #D83C3C;
}
.buttons > button{
    font-family: 'Secular One', sans-serif;
    --bs-btn-padding-x: 15px;
    width: 250px;
    height: 60px;
}
.logCard {
    background: rgba(5, 56, 55, .5);
    color: white;
}
a.btn{
    font-family: 'Secular One', sans-serif;
    padding: 15px 0px;
    width: 250px;
    height: 60px;
}
.card-title{
    
    font-family: 'Konkhmer Sleokchher', cursive;
}
.navbar-nav > li.nav-item > a.active2:hover, .navbar-nav > li.nav-item > a:hover{
    color: #f17878;
}
.bg-darker {
    background-color: rgba(31, 31, 31, 0.733);
}
.thumb-post img {
    object-fit: contain; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 250px;
    margin-bottom: 1rem;
  }
.profile-pic{
    width: 250px;
    height: 250px;
    object-position: center;
    object-fit: cover;
    padding: 0;
}
.pink-border{
    font-family: 'Exo 2', sans-serif;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #f17878;
}
img.logo {
    width: 25px;
    height: 25px;
}
button.btn-twt{
    --bs-btn-bg: #042b2b;
}
button.socials{
    --bs-btn-bg: #042b2bb9;
    --bs-btn-hover-bg: #084141b9;
    --bs-btn-active-bg: #084141b9;
    --bs-btn-active-border-color: #3f3f3fb9;
}
.text-warning-emphasis{
    color: #f3d262;
}
.text-danger-emphasis{
    color: #e77e80;
}